<%# ===== episode ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">経験の振り返り</h2>
    <div id = "episodeTable" class="episodeTable">
        <%# 
            <div class="episodeTable__header">
                <div class="episodeTable__column">年齢</div>
                <div class="episodeTable__column">エピソード</div>
                <div class="episodeTable__column">当時の感情・思考</div>
                <div class="episodeTable__column">モチベーション</div>
                <div class="episodeTable__column">振り返って気づいたこと</div>
            </div> 
        %>
        <%# 以下繰り返し
            <div class="episodeTable__row">
                <div class="episodeTable__column  -numItemAge -mergeCellTop">
                    <input class="episodeTable__input" name="" placeholder="6" type="number" min="0" max="150">
                </div>
                <div class="episodeTable__column">
                    <textarea class="episodeTable__textarea" name="" rows="2" placeholder="ここに入力"></textarea>
                </div>
                <div class="episodeTable__column">
                    <textarea class="episodeTable__textarea" name="" rows="2" placeholder="ここに入力"></textarea>
                </div>
                <div class="episodeTable__column  -numItemMotivation">
                    <input class="episodeTable__input" name="" placeholder="100" type="number" min="0" max="100">
                </div>
                <div class="episodeTable__column">
                    <textarea class="episodeTable__textarea" name="" rows="2" placeholder="ここに入力"></textarea>
                </div>
            </div> 
        %>
    </div>
</section>



<%# ===== chronology ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">自分史 / モチベーションチャート</h2>
    <div class="chronology main__sectionContent">
        <canvas id="chronologyChart" class="chronology__chart"></canvas>
        <ul  id="chronologyText" class="chronologyEpisodeList chronology__episode">
            <%# 以下繰り返し
                <li class="chronologyEpisodeList__item">
                    <p class="chronologyEpisodeList__itemAge">年齢</p>
                    <p class="chronologyEpisodeList__itemText">エピソードテキスト</p>
                </li>
            %>
        </ul>
    </div>
</section>


<%# ===== analysis ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">分析</h2>
    <div class="main__sectionContent">
        <ul class="analysisQuestionList">
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">モチベーションが上がったのはどんな時？</h3>
                <div class="analysisQuestion1Table">
                    <div class="analysisQuestion1Table__header">
                        <div class="analysisQuestion1Table__column">エピソード</div>
                        <div class="analysisQuestion1Table__column">理由</div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">モチベーションが上がる時の共通要素は？</h3>
                <div class="analysisQuestion2Table">
                    
                    <div class="analysisQuestion2Table__header">
                        <div class="analysisQuestion2Table__column">共通要素</div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="analysisQuestionList">
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">モチベーションが下がったのはどんな時？</h3>
                <div class="analysisQuestion1Table">
                    
                    <div class="analysisQuestion1Table__header">
                        <div class="analysisQuestion1Table__column">エピソード</div>
                        <div class="analysisQuestion1Table__column">理由</div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">モチベーションが下がる時の共通要素は？</h3>
                <div class="analysisQuestion2Table">
                    
                    <div class="analysisQuestion2Table__header">
                        <div class="analysisQuestion2Table__column">共通要素</div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="analysisQuestionList">
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">成功体験は？</h3>
                <div class="analysisQuestion1Table">
                    
                    <div class="analysisQuestion1Table__header">
                        <div class="analysisQuestion1Table__column">エピソード</div>
                        <div class="analysisQuestion1Table__column">要因</div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">どんな学びや成長があった？</h3>
                <div class="analysisQuestion2Table">
                    
                    <div class="analysisQuestion2Table__header">
                        <div class="analysisQuestion2Table__column">学び・成長</div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="analysisQuestionList">
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">失敗体験は？</h3>
                <div class="analysisQuestion1Table">
                    
                    <div class="analysisQuestion1Table__header">
                        <div class="analysisQuestion1Table__column">エピソード</div>
                        <div class="analysisQuestion1Table__column">要因</div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">どんな学びや成長があった？</h3>
                <div class="analysisQuestion2Table">
                    
                    <div class="analysisQuestion2Table__header">
                        <div class="analysisQuestion2Table__column">学び・成長</div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="analysisQuestionList">
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">活躍できた・居心地の良かったチームでの活動は？</h3>
                <div class="analysisQuestion1Table">
                    
                    <div class="analysisQuestion1Table__header">
                        <div class="analysisQuestion1Table__column">エピソード</div>
                        <div class="analysisQuestion1Table__column">理由</div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">活躍できる・居心地の良い環境の共通要素は？</h3>
                <div class="analysisQuestion2Table">
                    
                    <div class="analysisQuestion2Table__header">
                        <div class="analysisQuestion2Table__column">共通要素</div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="analysisQuestionList">
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">活躍できなかった・居心地の悪かったチームでの活動は？</h3>
                <div class="analysisQuestion1Table">
                    
                    <div class="analysisQuestion1Table__header">
                        <div class="analysisQuestion1Table__column">エピソード</div>
                        <div class="analysisQuestion1Table__column">理由</div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">活躍できない・居心地の悪い環境の共通要素は？</h3>
                <div class="analysisQuestion2Table">
                    
                    <div class="analysisQuestion2Table__header">
                        <div class="analysisQuestion2Table__column">共通要素</div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="analysisQuestionList">
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">年代を通して好きなこと・得意なことは？</h3>
                <div class="analysisQuestion1Table">
                    
                    <div class="analysisQuestion1Table__header">
                        <div class="analysisQuestion1Table__column">好きなこと・得意なこと</div>
                        <div class="analysisQuestion1Table__column">理由</div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">好きなこと・得意なことの共通要素は？</h3>
                <div class="analysisQuestion2Table">
                    
                    <div class="analysisQuestion2Table__header">
                        <div class="analysisQuestion2Table__column">共通要素</div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="analysisQuestionList">
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">年代を通して嫌いなこと・苦手なことは？</h3>
                <div class="analysisQuestion1Table">
                    
                    <div class="analysisQuestion1Table__header">
                        <div class="analysisQuestion1Table__column">嫌いなこと・苦手なこと</div>
                        <div class="analysisQuestion1Table__column">理由</div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
            <li class="analysisQuestionList__item">
                <h3 class="main__sectionSubTtl">嫌いなこと・苦手なことの共通要素は？</h3>
                <div class="analysisQuestion2Table">
                    
                    <div class="analysisQuestion2Table__header">
                        <div class="analysisQuestion2Table__column">共通要素</div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</section>



<%# ===== summary ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">まとめ</h2>
    <div class="summaryTable">
        <div class="summaryTable__header">
            <div class="summaryTable__column">価値観・大切にしている考え</div>
        </div>
        <div class="summaryTable__row">
            <div class="summaryTable__column">
                <textarea class="analysisTable__textarea" name="" id="" rows="1" placeholder="ここに入力"></textarea>
            </div>
        </div>
    </div>
    <div class="summaryTable">
        <div class="summaryTable__header">
            <div class="summaryTable__column">やりたいこと</div>
        </div>
        <div class="summaryTable__row">
            <div class="summaryTable__column">
                <textarea class="analysisTable__textarea" name="" id="" rows="1" placeholder="ここに入力"></textarea>
            </div>
        </div>
    </div>
    <div class="summaryTable">
        <div class="summaryTable__header">
            <div class="summaryTable__column">求める環境</div>
        </div>
        <div class="summaryTable__row">
            <div class="summaryTable__column">
                <textarea class="analysisTable__textarea" name="" id="" rows="1" placeholder="ここに入力"></textarea>
            </div>
        </div>
    </div>
    <div class="summaryTable">
        <div class="summaryTable__header">
            <div class="summaryTable__column">目指す姿</div>
        </div>
        <div class="summaryTable__row">
            <div class="summaryTable__column">
                <textarea class="analysisTable__textarea" name="" id="" rows="1" placeholder="ここに入力"></textarea>
            </div>
        </div>
    </div>
</section>