<%# ===== episode ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">エピソード洗い出し</h2>
    <div class="episodeTable">
        <div class="episodeTable__header">
            <div class="episodeTable__item">年齢</div>
            <div class="episodeTable__item">エピソード</div>
            <div class="episodeTable__item">当時の感情・思考</div>
            <div class="episodeTable__item">モチベーション</div>
            <div class="episodeTable__item">エピソードを選んだ理由</div>
        </div>
        <div class="episodeTable__row">
            <div class="episodeTable__item  -numItemAge -mergeCellTop">
                <input class="episodeTable__input" name="" placeholder="6" type="number" min="0" max="150">
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
            <div class="episodeTable__item  -numItemMotivation">
                <input class="episodeTable__input" name="" placeholder="100" type="number" min="0" max="100">
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
        </div>
        <div class="episodeTable__row">
            <div class="episodeTable__item -mergeCellMiddle">
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
            <div class="episodeTable__item  -numItemMotivation">
                <input class="episodeTable__input" name="" placeholder="100" type="number" min="0" max="100">
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
        </div>
        <div class="episodeTable__row">
            <div class="episodeTable__item -mergeCellBottom">
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
            <div class="episodeTable__item  -numItemMotivation">
                <input class="episodeTable__input" name="" placeholder="100" type="number" min="0" max="100">
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
        </div>
        <div class="episodeTable__row">
            <div class="episodeTable__item  -numItemAge">
                <input class="episodeTable__input" name="" placeholder="7" type="number" min="0" max="150">
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
            <div class="episodeTable__item  -numItemMotivation">
                <input class="episodeTable__input" name="" placeholder="100" type="number" min="0" max="100">
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
        </div>
        <div class="episodeTable__row">
            <div class="episodeTable__item  -numItemAge">
                <input class="episodeTable__input" name="" placeholder="8" type="number" min="0" max="150">
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
            <div class="episodeTable__item  -numItemMotivation">
                <input class="episodeTable__input" name="" placeholder="100" type="number" min="0" max="100">
            </div>
            <div class="episodeTable__item">
                <textarea class="episodeTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
            </div>
        </div>
    </div>
</section>



<%# ===== chronology ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">自分史 / モチベーションチャート</h2>
    <div class="chronology main__sectionContent">
        <canvas id="chronology" class="chronology__chart"></canvas>
        <ul class="chronologyEpisodeList chronology__episode">
            <li class="chronologyEpisodeList__item">
                <p class="chronologyEpisodeList__itemAge">100</p>
                <p class="chronologyEpisodeList__itemText">ほげほげー<br>ABC1234567489ほげほげほげほげほげほげほげほ<br>ABC1234567489ほげほげほげほげほげほげほげ<br>ABC1234567489ほげほげほげほげほげほげほげ</p>
            </li>
            <li class="chronologyEpisodeList__item">
                <p class="chronologyEpisodeList__itemAge">100</p>
                <p class="chronologyEpisodeList__itemText">ほげほげー<br>ABC1234567489ほげほげほげほげほげほげほげほ<br>ABC1234567489ほげほげほげほげほげほげほげ</p>
            </li>
            <li class="chronologyEpisodeList__item">
                <p class="chronologyEpisodeList__itemAge">100</p>
                <p class="chronologyEpisodeList__itemText">ほげほげー<br>ABC1234567489ほげほげほげほげほげほげほげほ<br>ABC1234567489ほげほげほげほげほげほげほげ</p>
            </li>
        </ul>
        
    </div>
</section>


<%# ===== analysis ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">分析</h2>
    <div class="main__sectionContent">
        <h3 class="main__sectionSubTtl">モチベーションが逆転したエピソード</h3>
        <div class="analysisTable">
            <div class="analysisTable__header">
                <div class="analysisTable__item">マイナスからプラスへの逆転</div>
                <div class="analysisTable__item">理由</div>
            </div>
            <div class="analysisTable__row">
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
            </div>
            <div class="analysisTable__row">
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
            </div>
        </div>
        <div class="analysisTable">
            <div class="analysisTable__header">
                <div class="analysisTable__item">プラスからマイナスへの逆転</div>
                <div class="analysisTable__item">理由</div>
            </div>
            <div class="analysisTable__row">
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
            </div>
            <div class="analysisTable__row">
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="main__sectionContent">
        <h3 class="main__sectionSubTtl">共通する傾向</h3>
        <div class="analysisTable">
            <div class="analysisTable__header">
                <div class="analysisTable__item">興味のあること</div>
                <div class="analysisTable__item">理由</div>
            </div>
            <div class="analysisTable__row">
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
            </div>
            <div class="analysisTable__row">
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
            </div>
        </div>
        <div class="analysisTable">
            <div class="analysisTable__header">
                <div class="analysisTable__item">長所・得意なこと</div>
                <div class="analysisTable__item">理由</div>
            </div>
            <div class="analysisTable__row">
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
            </div>
            <div class="analysisTable__row">
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
            </div>
        </div>
        <div class="analysisTable">
            <div class="analysisTable__header">
                <div class="analysisTable__item">短所・苦手なこと</div>
                <div class="analysisTable__item">理由</div>
            </div>
            <div class="analysisTable__row">
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
            </div>
            <div class="analysisTable__row">
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
                <div class="analysisTable__item">
                    <textarea class="analysisTable__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                </div>
            </div>
        </div>
    </div>
</section>


<%# ===== summary ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">まとめ</h2>
    <div class="summaryTable">
        <div class="summaryTable__header">
            <div class="summaryTable__item">価値観・大切にしている考え</div>
        </div>
        <div class="summaryTable__row">
            <div class="summaryTable__item">
                <textarea class="analysisTable__textarea" name="" id="" rows="1" placeholder="ここに入力"></textarea>
            </div>
        </div>
    </div>
    <div class="summaryTable">
        <div class="summaryTable__header">
            <div class="summaryTable__item">やりたいこと</div>
        </div>
        <div class="summaryTable__row">
            <div class="summaryTable__item">
                <textarea class="analysisTable__textarea" name="" id="" rows="1" placeholder="ここに入力"></textarea>
            </div>
        </div>
    </div>
    <div class="summaryTable">
        <div class="summaryTable__header">
            <div class="summaryTable__item">活躍できる環境</div>
        </div>
        <div class="summaryTable__row">
            <div class="summaryTable__item">
                <textarea class="analysisTable__textarea" name="" id="" rows="1" placeholder="ここに入力"></textarea>
            </div>
        </div>
    </div>
    <div class="summaryTable">
        <div class="summaryTable__header">
            <div class="summaryTable__item">目指す姿</div>
        </div>
        <div class="summaryTable__row">
            <div class="summaryTable__item">
                <textarea class="analysisTable__textarea" name="" id="" rows="1" placeholder="ここに入力"></textarea>
            </div>
        </div>
    </div>
</section>