<h1>ユーザ編集</h1>
<%= form_with url: "/users/update" do |form|%>
    <div>
        <p>ユーザ名</p>
        <small>半角英数字記号いずれかを組み合わせて6〜15文字以内で入力</small>
        <%= form.text_field :update_user_name, value: @update_user_name %>
    </div>
    <div>
        <p>パスワード</p>
        <small>半角英数字記号全てを組み合わせて10〜20文字以内で入力</small>
        <%= form.password_field :update_user_password, value: @update_user_password %>
    </div>
    <%= form.submit "SEND" %>
<% end %>