@charset "utf-8";

// ============================================
// 使用色一覧
// ============================================
$color_black: #000000;
$color_gray: #84919E;
$color_lightGray: #C8C8CB;
$color_white: #FFFFFF;
$color_green: #03AF7A;
$color_lightGreen: #77D9A8;
$color_yellowGreen: #D8F255;
$color_orange: #F6AA00;
$color_red: #FF4B00;
$color_lightPink: #FFCABF;
$color_lightBlue: #BFE4FF;


// ============================================
//  variable 
// ============================================
$maxWidth: 1000px;
$headerHeight: 90px;

* {
    box-sizing: border-box;
}

html {
    font-family: YuGothic,'Yu Gothic',sans-serif;
    font-size: 62.5%;
    background-color: $color_white;
    // スクロールバー全ページで表示(スクロールバーの有無でレイアウトがズレるため)
    overflow-y: scroll;
}

.body__header {
    height: $headerHeight;
    padding: 0 100px;
}

.body__main {
    // 固定ヘッダーと重ならないためのpadding
    padding-top:  $headerHeight;
    padding-bottom: 30px;
}

.body__flashMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    margin: 10px auto;
    padding: 10px;
    color: $color_white;
    border-radius: 7px;

    &_alert {
        background-color: $color_orange;
    }

    &_notice {
        background-color: $color_lightBlue;
    }
}