@charset "utf-8";

$headerHeight: 90px;

* {
    box-sizing: border-box;
}

html {
    font-family: YuGothic,'Yu Gothic',sans-serif;
    font-size: 62.5%;
    background-color: white;
}

.body__header {
    height: $headerHeight;
    padding: 0 100px;
}

.body__main {
    // 固定ヘッダーと重ならないためのpadding
    padding-top:  $headerHeight;
    padding-bottom: 30px;
}

.body__flashMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    margin: 10px auto;
    padding: 10px;
    color: white;
    border-radius: 7px;

    &_alert {
        background-color: orange;
    }

    &_notice {
        background-color: lightgreen;
    }
}