@charset "utf-8";

$headerHeight: 90px;

* {
    box-sizing: border-box;
}

html {
    font-family: YuGothic,'Yu Gothic',sans-serif;
    font-size: 62.5%;
    background-color: white;
}

.body__header {
    height: $headerHeight;
}

.body__main {
    // 固定ヘッダーと重ならないためのpadding
    padding-top:  $headerHeight;
    padding-bottom: 30px;
}