@charset "utf-8";

$maxWidth: 1440px;


.main {
    display: block;
    margin: 0 auto;
    max-width: $maxWidth;
}

.main__secTtl {
    font-size: 2.4rem;
    font-weight: bold;
    padding: 20px;
}

.main__secSubTtl {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px 20px;
}